*{
  font-family: sans-serif;
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
}
@media(max-width: 991px){
  .modal-content{width: 90vw;gap: 2rem;}
  #bienvenido{font-size: 5rem;letter-spacing: 0.2rem;}
  #usernameInput{font-size: 3rem;padding: 1rem 0rem 1rem 0.3rem;}
  #guardarUSR{font-size: 3rem;padding: 2rem 4rem 2rem 4rem;}
  #error{font-size: 3rem;color: orangered;font-weight: 900;}

  #userlabel{
    font-size: 3rem;
    font-weight: 900;
    margin-left: 3rem;
  }
  #commentInput{
    font-size: 2rem;
    font-family: cursive;
    margin: 3rem;
    width: 85vw;
  }
  #agregarNombre{
    margin-left: 3rem;
    font-size: 3rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 3rem;
  }
  #comments{
    padding: 0;
    margin-bottom: 2rem;
    margin-left: 3rem;
    font-size: 3rem;
    width: 85vw;
  }
  #comments div{
    border: 0.2rem solid gray;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }
  #comments div b{
    padding: 0;
    margin: 0;
  }
  #comments div p{
    padding: 0;
    margin: 0;
    font-family: cursive;
  }
  #comments div button{
    padding: 0;
    margin: 0;
    font-size: 3rem;
  }
}